<h1>Transformando vértices</h1>

<p>
  Nós podemos utilizar matrizes 4x4 para transformar vértices antes de renderizá-los.
</p>

<pre>
<code class="glsl">
attribute vec4 position;
uniform mat4 transform;

void main() {
  gl_Position = transform * position;
}

</code>
</pre>
