<h1>Matriz de projeção</h1>

<p>
  Normalmente, nós queremos utilizar coordenadas diferentes do padrão que vai
  de (-1, -1, -1) a (1, 1, 1)
</p>

<p>
  Para isso, nós utilizamos <b>matrizes de projeção</b>.
</p>
