<h1>View matrix</h1>

<p>
  WebGL possui uma câmera fixada na origem (0, 0, 0), olhando na direção -z.
</p>

<p>
  Nós podemos utilizar uma <b>view matrix</b> para simular câmeras em outras posições.
</p>
