<h1>Matrices</h1>

<p>Matrices store data in a rectangular form</p>

<p class="math">
  $
  A = \begin{bmatrix}
    a_{00} & a_{01} & \dots & a_{0n} \\
    a_{10} & a_{11} & \dots & a_{1n} \\
    \vdots & \vdots & \ddots & \vdots \\
    a_{m0} & a_{m1} & \dots & a_{mn} \\
  \end{bmatrix}$
</p>
