<h1>Vertex shader - Exemplo</h1>

<p>
  Exemplo de um vertex shader que renderiza um vértice na origem (0, 0, 0).
</p>

<pre>
  <code class="glsl">
    void main() {
      gl_Position = vec4(0.0, 0.0, 0.0, 1.0);
    }
  </code>
</pre>
