<h1>Fragment shader - Exemplo</h1>

<p>
  Exemplo de um fragment shader que renderiza um pixel preto.
</p>

<pre>
  <code class="glsl">
    precision mediump float;

    void main() {
      gl_FragColor = vec4(0.0, 0.0, 0.0, 1.0);
    }
  </code>
</pre>
