<h1>Criando um programa em WebGL</h1>

<p>
  Caso os shaders tenham compilado com sucesso, nós podemos adicioná-los a um programa.
</p>

<pre>
  <code class="javascript">
  const program = gl.createProgram()

  gl.attachShader(program, vertexShader)
  gl.attachShader(program, fragmentShader)

  gl.linkProgram(program)

  gl.useProgram(program)
  </code>
</pre>
