<h1>Enviando dados aos shaders</h1>

<p>
  Nós podemos enviar variáveis aos shaders a partir do JavaScript.
</p>

<div class="grid-50-50">
  <div class="text-center">
    <h2>Attributes</h2>
    <p>
      <b>Attributes</b> são utilizados para informações referentes aos vértices.
    </p>
  </div>
  <div class="text-center">
    <h2>Uniforms</h2>
    <p>
      <b>Uniforms</b> são constantes que podemos passar para os nossos shaders.
    </p>
  </div>
</div>
