<h1>Populando atributos</h1>

<p>
  Após criar um buffer, nós podemos utilizá-lo para suprir um atributo em nosso vertex shader.
</p>

<pre>
  <code class="javascript">
  const positionLocation = gl.getAttribLocation(program, 'position')

  gl.enableVertexAttribArray(positionLocation)

  gl.vertexAttribPointer(positionLocation, 3, gl.FLOAT, gl.FALSE, 12, 0)
  </code>
</pre>
