<h1>Shader uniforms</h1>

<p>
  Exemplo de uma constante utilizada para informar a cor do pixel.
</p>

<pre>
  <code class="glsl">
    precision mediump float;

    uniform vec4 color;

    void main() {
      gl_FragColor = color;
    }
  </code>
</pre>
