<h1>Shader uniforms</h1>

<p>
  Example of a uniform for the fragment color.
</p>

<pre>
  <code class="glsl">
    precision mediump float;

    uniform vec4 color;

    void main() {
      gl_FragColor = color;
    }
  </code>
</pre>
