<h1>Populando uniforms</h1>

<p>
  Dependendo do formato de cada constante,
  nós podemos utilizar uma função específica para populá-las.
</p>

<pre>
  <code class="javascript">
  const colorLocation = gl.getUniformLocation(program, 'color')

  gl.uniform4f(colorLocation, 1, 0, 0, 1)

  gl.uniform4fv(colorLocation, new Float32Array([1, 0, 0, 1]))
  </code>
</pre>
