<h1>Varying variables</h1>

<p>
  <b>Varying</b> são variáveis passadas de vertex shaders para fragment shaders.
</p>

<p>
  O valor delas é interpolado entre os vértices, e é disponível para o fragment shader.
</p>
