<h1>Varying variables shaders - Exemplo</h1>

<pre>
  <code class="glsl">
  attribute vec3 position;
  attribute vec3 color;
  varying vec3 vColor;

  void main() {
    gl_Position = vec4(position, 1.0);
    vColor = color;
  }
  </code>
</pre>

<pre>
  <code class="glsl">
  precision mediump float;

  varying vec3 vColor;

  void main() {
    gl_FragColor = vec4(vColor, 1.0);
  }
  </code>
</pre>
