<div class="container">
  <iframe id="iframe" class="slide"></iframe>
</div>

<div class="controls">
  <button id="button-previous">Previous</button>
  <button id="button-next">Next</button>
</div>

<script>
  let buttonPrevious
  let buttonNext
  let slides
  let currentSlide
  let iframe

  function onLoad (e) {
    buttonPrevious = document.getElementById('button-previous')
    buttonNext = document.getElementById('button-next')
    iframe = document.getElementById('iframe')

    fetch('/slides').then(res => res.json()).then(result => {
      slides = result
      initialize()
    });
  }

  function initialize (e) {
    setSlide(location.hash ? Number(location.hash.substring(1)) : 0)

    buttonPrevious.onclick = () => setSlide(currentSlide - 1)
    buttonNext.onclick = () => setSlide(currentSlide + 1)
  }

  function setSlide (slide) {
    currentSlide = Math.min(Math.max(0, slide), slides.length - 1)
    iframe.src = `/slides/${currentSlide}`
    window.location.hash = currentSlide
  }

  window.onload = onLoad
</script>
