html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 4vmin;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #007bff;
}

p {
  font-size: 4vmin;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: #eee;
  box-sizing: border-box;
  padding: 10vh 10vh;
  margin: auto;
  max-width: 177vh;
  height: 100vh;
}

.math {
  font-size: 5vmin;
}
