html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: #333333;
  font-family: 'Open Sans';
  font-size: 4vmin;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 4vmin;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: transparent;
  box-sizing: border-box;
  padding: 10vh 10vh;
  margin: auto;
  max-width: 177vh;
  height: 100vh;
}

.math {
  font-size: 5vmin;
}

.row {
  display: flex;
}

.col-10, .col-20, .col-30, .col-40, .col-50, .col-60, .col-70, .col-80, .col-90, .col-100 {
  flex: 1;
  padding: 1vmin;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }
