html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, p {
  text-align: center;
}

p {
  font-size: 1.5rem;
}

code {
  font-size: 2rem;
}

.container {
  background-color: #eee;
  box-sizing: border-box;
  padding: 30pt;
  width: 100%;
  height: 100%;
}

.math {
  font-size: 3rem;
}
