html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.slide {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
}

.container {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10pt;
}
