<h1>3D Vectors</h1>

<pre>
  <code class="javascript">
    class Vector3 {
      constructor(x, y, z) {
        this.x = x || 0
        this.y = y || 0
        this.z = z || 0
      }
    }

    const u = new Vector3(ux, uy, uz)
  </code>
</pre>
