<h1>Angle between unit vectors</h1>

<p>When we have unit vectors:</p>

<p>
  $
  \begin{gather}
  \|\vec{u}\| = \|\vec{v}\| = 1\end{gather}
  $
</p>

<p class="math">
  $\cos{\theta} = u_x \cdot v_x + u_y \cdot v_y + u_z \cdot v_z$
</p>

<br>

<p class="math">
  $\cos{\theta} = \vec{u} \cdot \vec{v}$
</p>
