<h1>Vetores normais</h1>

<p>
  Para simular a incidência de luz, precisamos utilizar os vetores normais a cada face
  do modelo.
</p>

<p>
  <a target="_blank" href="https://webglfundamentals.org/webgl/lessons/webgl-3d-lighting-directional.html">
    WebGL fundamentals
  </a>
</p>
