<h1>Luz ambiente</h1>

<p>
  Luz ambiente afeta todas as direções homogeneamente.
</p>

<p>
  Ela pode ser combinada com a luz direcional. Exemplo:
</p>

<p>
  light = 0.5 * ambientLight + 0.5 * directionalLight
</p>
