<h1>HTML5 Canvas</h1>

<p>HTML5 canvas elements are used as a drawing surface for WebGL</p>

<pre>
<code class="html">
  &lt;!DOCTYPE html&gt;
  &lt;html&gt;
    &lt;head&gt;
      &lt;title&gt;WebGL canvas&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
      &lt;canvas id="canvas"&gt;&lt;/canvas&gt;
    &lt;/body&gt;
  &lt;/html&gt;
</code>
</pre>
