<h1>WebGL Rendering Context</h1>

<p>
  Nós precisamos do objeto
  <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext" target="_blank">
    WebGLRenderingContext
  </a>,
  obtido por meio do canvas.
</p>

<pre>
  <code class="javascript">
  const canvas = document.getElementById('canvas')
  const gl = canvas.getContext('webgl')

  console.log(gl) \\ WebGLRenderingContext
  </code>
</pre>
