<div class="flex-container">
  <div>
    <h1>Trabalhando com WebGL</h1>
  </div>
  <div>
    <p>
      O teste mínimo para verificar se o WebGL funciona, é utilizar a função "clear".
    </p>
  </div>
  <div class="flex-item">
    <div class="grid-70-30">
      <div>
        <pre><code class="javascript">
// clearColor(r, g, b, a)

gl.clearColor(0, 1, 1, 1)
gl.clear(gl.COLOR_BUFFET_BIT)
        </code></pre>
      </div>
      <div>
        <canvas id="canvas" style="width: 100%; height: 300px;"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
const canvas = document.getElementById('canvas')
const gl = canvas.getContext('webgl')
gl.clearColor(0, 1, 1, 1)
gl.clear(gl.COLOR_BUFFER_BIT)
</script>

