<h1>Luz unidirecional</h1>

<p>
  We can represent a directional light as a unit vector.
</p>

<p>
  When we calculate the dot product between the light direction and the face normals,
  we have the light's angle of incidence.
</p>
