<h1>Ambient light</h1>

<p>
  Ambient light affects all directions equally.
</p>

<p>
  It can be mixed with the directional light.
</p>

<p>
  light = k * ambientLight + (1 - k) * directionalLight
</p>
