<h1>Vetores 4D - JavaScript</h1>

<pre>
  <code class="javascript">
    class Vector4 {
      constructor(x, y, z, w) {
        this.x = x || 0
        this.y = y || 0
        this.z = z || 0
        this.w = w || 1
      }
    }

    const u = new Vector4(ux, uy, uz, uw)
  </code>
</pre>
