<h1>Magnitude de vetores - JavaScript</h1>

<pre>
  <code class="javascript">
    class Vector3 {
      length() {
        return Math.sqrt(
          this.x * this.x + this.y * this.y + this.z * this.z
        )
      }
    }

    const u = new Vector3(ux, uy, uz, uw)

    const length = u.length()
  </code>
</pre>
