<h1>Exemplos de vetores unitários</h1>

<p class="math">
  $\hat{i} =
  \begin{bmatrix}
  1 \\
  0 \\
  0 \\
  \end{bmatrix}$
</p>

<p class="math">
  $\hat{j} =
  \begin{bmatrix}
  0 \\
  1 \\
  0 \\
  \end{bmatrix}$
</p>

<p class="math">
  $\hat{k} =
  \begin{bmatrix}
  0 \\
  0 \\
  1 \\
  \end{bmatrix}$
</p>
