<h1>Divisão de vetor por escalar</h1>

<p class="math">
  $\frac{\vec{u}}{\lambda} =
  \begin{bmatrix}
  \frac{u_x}{\lambda} \\
  \frac{u_y}{\lambda} \\
  \frac{u_z}{\lambda} \\
  \end{bmatrix}$
</p>
