<h1>Normalização de vetores</h1>

<p>Normalizar um vetor significa tornar o seu comprimento igual a 1.</p>
<p>Nós podemos normalizar qualquer vetor não nulo.</p>

<p class="math">
  $\|\vec{u}\| \neq 0$
</p>

<p class="math">
  $\hat{u} = \frac{\vec{u}}{\|\vec{u}\|}$
</p>

<p class="math">
  $\|\hat{u}\| = 1$
</p>
