<h1>Produto escalar</h1>

<p class="math">
  $\vec{u} \cdot \vec{v} =
  u_x \cdot v_x +
  u_y \cdot v_y +
  u_z \cdot v_z $
</p>

<br>

<p class="math">
  $\vec{u} \cdot \vec{v} =
  \|\vec{u}\| \cdot \|\vec{v}\| \cdot \cos{\theta}$
</p>
