<h1>Matrizes 3x3</h1>

<p>Matrizes com 3 linhas e 3 colunas possuem 9 valores:</p>

<p class="math">
  $
  A = \begin{bmatrix}
    a_{00} & a_{01} & a_{02} \\
    a_{10} & a_{11} & a_{12} \\
    a_{20} & a_{21} & a_{22} \\
  \end{bmatrix}$
</p>
