<h1>Matriz identidade</h1>

<p>
  Uma matriz identidade não modifica outra quando é utilizada na multiplicação.
</p>

<p class="math">
  $
  I \cdot \vec{u} =
  \begin{bmatrix}
    1 & 0 & 0 \\
    0 & 1 & 0 \\
    0 & 0 & 1 \\
  \end{bmatrix}
  \cdot \begin{bmatrix} u_x \\ u_y \\ u_z \end{bmatrix}
  =
  \begin{bmatrix} u_x \\ u_y \\ u_z \end{bmatrix}
  $
</p>
