<h1>Unit vector - Examples</h1>

<pre>
  <code class="javascript">
    class Vector3 {
      ...
    }

    Vector3.unitX = new Vector3(1, 0, 0)
    Vector3.unitY = new Vector3(0, 1, 0)
    Vector3.unitZ = new Vector3(0, 0, 1)
  </code>
</pre>
