<h1>3x3 Matrices</h1>

<p>3x3 matrices are defined by nine values</p>

<p class="math">
  $
  A = \begin{bmatrix}
    a_{00} & a_{01} & a_{02} \\
    a_{10} & a_{11} & a_{12} \\
    a_{20} & a_{21} & a_{22} \\
  \end{bmatrix}$
</p>
