<h1>Translation matrix</h1>

<p>We cannot translate a 3D vector with a 3x3 matrix.</p>
<p>We need the homogeneous coordinate:</p>

<p class="math">
  $
  T \cdot \vec{u} =
  \begin{bmatrix}
    1 & 0 & 0 & t_x \\
    0 & 1 & 0 & t_y \\
    0 & 0 & 1 & t_z \\
    0 & 0 & 0 & 1
  \end{bmatrix}
  \cdot
  \begin{bmatrix}
    u_x \\ u_y \\ u_z \\ 1
  \end{bmatrix} =
  \begin{bmatrix}
    u_x + t_x \\
    u_y + t_y \\
    u_z + t_z \\
    1
  \end{bmatrix}
  $
</p>
