<h1>Colors</h1>

<p>In computer graphics, a color is represented by 3 components:</p>

<p>
  <b style="color: red">RED</b>,
  <b style="color: green">GREEN</b>
  and
  <b style="color: blue">BLUE</b>
</p>
