<h1>2D Vectors</h1>

<pre>
  <code class="javascript">
    class Vector2 {
      constructor(x, y) {
        this.x = x || 0
        this.y = y || 0
      }
    }

    const u = new Vector2(ux, uy)
  </code>
</pre>
