<h1>Vector operations</h1>

<pre>
  <code class="javascript">
    class Vector3 {
      add(u) {
        this.x += u.x
        this.y += u.y
        this.z += u.z
        return this
      }

      subtract(u) {
        this.x -= u.x
        this.y -= u.y
        this.z -= u.z
        return this
      }

      multiply(k) {
        this.x *= k
        this.y *= k
        this.z *= k
        return this
      }

      divide(k) {
        this.x /= k
        this.y /= k
        this.z /= k
        return this
      }
    }

    // We can chain multiple function calls
    u.add(v).multiply(k)
  </code>
</pre>
