<h1>Vector normalization</h1>

<p>We can normalize any non-zero vector to a unit vector</p>

<p class="math">
  $\|\vec{u}\| \neq 0$
</p>

<p class="math">
  $\hat{u} = \frac{\vec{u}}{\|\vec{u}\|}$
</p>

<p class="math">
  $\|\hat{u}\| = 1$
</p>
