<h1>Matrix multiplication</h1>

<p>
  Two matrices can be multiplied if the number of columns of the first one
  is equal to the number of rows of the second one.
</p>

<p class="math">
  $
  A \cdot B = \begin{bmatrix}
    a_{00} \cdot b_{00} + a_{01} \cdot b_{10} &
    a_{00} \cdot b_{01} + a_{01} \cdot b_{11} \\
    a_{10} \cdot b_{00} + a_{11} \cdot b_{10} &
    a_{10} \cdot b_{01} + a_{11} \cdot b_{11}
  \end{bmatrix}$
</p>
