<h1>Matrix and vector multiplication</h1>

<p class="math">
  $
  \begin{align}
  A \cdot \vec{u} & =
  \begin{bmatrix}
    a_{00} & a_{01} & a_{02} \\
    a_{10} & a_{11} & a_{12} \\
    a_{20} & a_{21} & a_{22} \\
  \end{bmatrix}
  \cdot \begin{bmatrix} u_x \\ u_y \\ u_z \end{bmatrix}

  \\\\
  & =\begin{bmatrix}
    a_{00} \cdot u_x + a_{01} \cdot u_y + a_{02} \cdot u_z \\
    a_{10} \cdot u_x + a_{11} \cdot u_y + a_{12} \cdot u_z \\
    a_{20} \cdot u_x + a_{21} \cdot u_y + a_{22} \cdot u_z \\
  \end{bmatrix}
  \end{align}
  $
</p>
