<h1>Rotation matrix</h1>

<p class="math">
  $
  R_x(\theta) =
  \begin{bmatrix}
    1 & 0 & 0 \\
    0 & \cos{\theta} & -\sin{\theta} \\
    0 & \sin{\theta} & \cos{\theta} \\
  \end{bmatrix}
  $
</p>

<p class="math">
  $
  R_y(\theta) =
  \begin{bmatrix}
    \cos{\theta} & 0 & \sin{\theta} \\
    0 & 1 & 0 \\
    -\sin{\theta} & 0 & \cos{\theta} \\
  \end{bmatrix}
  $
</p>

<p class="math">
  $
  R_z(\theta) =
  \begin{bmatrix}
    \cos{\theta} & -\sin{\theta} & 0 \\
    \sin{\theta} & \cos{\theta} & 0 \\
    0 & 0 & 1 \\
  \end{bmatrix}
  $
</p>
