<h1>Cores</h1>

<p>Na computação, uma cor é geralmente representada por 3 componentes:</p>

<p>
  <b style="color: red">RED</b>,
  <b style="color: green">GREEN</b>
  and
  <b style="color: blue">BLUE</b>
</p>
