<h1>Cores - Exemplos</h1>

<table style="border-spacing: 10pt; max-width: 80%; width: 100%; margin: 0 auto;">
  <thead>
    <tr>
      <th>RGB comum</th>
      <th>RGB normalizado</th>
      <th>Resultado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(255, 0, 0)</td>
      <td>(1, 0, 0)</td>
      <td style="background: rgb(255, 0, 0);"></td>
    </tr>
    <tr>
      <td>(0, 255, 0)</td>
      <td>(0, 1, 0)</td>
      <td style="background: rgb(0, 255, 0);"></td>
    </tr>
    <tr>
      <td>(0, 0, 255)</td>
      <td>(0, 0, 1)</td>
      <td style="background: rgb(0, 0, 255);"></td>
    </tr>
    <tr>
      <td>(255, 255, 255)</td>
      <td>(1, 1, 1)</td>
      <td style="background: rgb(255, 255, 255);"></td>
    </tr>
    <tr>
      <td>(128, 128, 128)</td>
      <td>(0.5, 0.5, 0.5)</td>
      <td style="background: rgb(128, 128, 128);"></td>
    </tr>
    <tr>
      <td>(0, 0, 0)</td>
      <td>(0, 0, 0)</td>
      <td style="background: rgb(0, 0, 0);"></td>
    </tr>
  </tbody>
</table>
