<h1>Fragment shader example</h1>

<p>
  Example of a fragment shader that renders a black pixel.
</p>

<pre>
  <code class="glsl">
    precision mediump float;

    void main() {
      gl_FragColor = vec4(0.0, 0.0, 0.0, 1.0);
    }
  </code>
</pre>
