<h1>Sending data to shaders</h1>

<p>
  We can send data from JavaScript to the shaders.
</p>

<div class="grid-50-50">
  <div class="text-center">
    <h2>Attributes</h2>
    <p>
      <b>Attributes</b> are used for vertex related data.
    </p>
  </div>
  <div class="text-center">
    <h2>Uniforms</h2>
    <p>
      <b>Uniforms</b> are used for general purpose constants.
    </p>
  </div>
</div>
