<h1>Shader attributes</h1>

<p>
  Example of an attribute for the vertex position.
</p>

<pre>
  <code class="glsl">
    attribute vec3 position;

    void main() {
      gl_Position = vec4(position, 1.0);
    }
  </code>
</pre>
