<h1>Vertex shader example</h1>

<p>
  Example of a vertex shader that renders a vertex at the origin.
</p>

<pre>
  <code class="glsl">
    void main() {
      gl_Position = vec4(0.0, 0.0, 0.0, 1.0);
    }
  </code>
</pre>
