<h1>Outros tópicos</h1>

<ul>
  <li>
    <a target="_blank" href="https://threejs.org/examples/#webgl_materials_bumpmap_skin">
      Three.js bump map
    </a>
  </li>
  <li>
    <a target="_blank" href="https://threejs.org/examples/#webgl_shadowmap_viewer">
      Three.js shadow mapping
    </a>
  </li>
  <li>
    <a target="_blank" href="http://voxelent.com/html/beginners-guide/chapter_8/ch8_Picking.html">
      Mouse color picking
    </a>
  </li>
  <li>
    <a target="_blank" href="https://webglfundamentals.org/webgl/lessons/webgl-skinning.html">
      WebGL Fundamentals - Skinning
    </a>
  </li>
  <li>
    <a target="_blank" href="https://threejs.org/examples/#webgl_animation_skinning_blending">
      Three.js - Skinning
    </a>
  </li>
</ul>
